main {
    min-height: 100vh;
    /*minimo de altura da janela do dispositivo*/
    width: 100%;
    display: flex;
    /*ativa o flex*/
    justify-content: center;
    align-items: center;
}

main>div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form {
    display: flex;
    /*ativa o flex*/
    flex-direction: column;
    justify-content: space-between;
    /*alinha na direção do flex*/
    align-items: center;
    gap: 15px;
    padding: 3%;
}

.formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario-botao-azul {
    width: 100%;
}

form>p {
    text-transform: uppercase;
    /*deixa o texto em maiusculo*/
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro3);
}

form>a, #secao-cadastro > p > a {
    color: var(--cor-azul);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
    /*remove a decoração (sublinhado) que vem por padrão no link*/
}

#secao-cadastro > p{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
}

.estilo-formulario {
    max-width: 342px;
}

#secao-cadastro {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div>p {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}