
<link rel="stylesheet" href="~/css/feed.css">
<h1>Tela Feed - DevConnect</h1>
    <!-- Inicio header -->
    <header id="cabecalho">
        <nav>
            <a id="logo-desktop" href="./feed.html">
                <img src="../images/logo-devconnect-md.svg" alt="Logo da empresa devcconect">
            </a>

            <a id="logo-mobile" href="./feed.html">
                <img src="../images/logo-devconnect-sm.svg" alt="Logo da empresa devcconect">
            </a>

            <!-- icones -->
            <div class="cabecalho-acoes">

                <a href="./feed.html">
                    <img src="../images/icone-casa-azul.svg" alt="Ícone de uma casa na cor azul">
                </a>
                <a href="#">
                    <img src="../images/icone-coracao-azul.svg" alt="Ícone de um coração na cor azul">
                </a>

                <a href="#">
                    <img class="foto-perfil" src="../images/alexia.jpg" alt="Foto de perfil">
                </a>
            </div>

        </nav>
    </header>
    <!-- Fim header -->

    <!-- Inicio main -->
    <main>
        <div class="container-flex-publi">
            <!-- Inicio Storys -->
            <section id="storys" class="estilo-formulario">
                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>
                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/alexia.jpg" alt="Foto de perfil">
                        <span>alexia</span>
                    </a>
                </article>
            </section>
            <!-- Fim Storys -->

            <!-- Inicio Cadastro Publi -->
            <section id="cadastro-publi" class="estilo-formulario">
                <h2>Publicação</h2>

                <form action="">
                    <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>

                    <footer>
                        <div>
                            <label for="campo-upload" id="texto-upload">Faça upload da sua imagem aqui...</label>
                            <input type="file" name="" id="campo-upload">
                        </div>

                        <button type="submit" class="formulario-botao-azul">Postar</button>


                    </footer>
                </form>

            </section>
            <!-- Fim Cadastro Publi -->

            <section id="publicacoes">
                <!-- Inicio card publicação -->
                <article class="card-publi">
                    <header>
                        <a href="#">
                            <img class="foto-perfil" src="../images/alexia.jpg" alt="Foto de perfil">
                            alexia
                        </a>
                    </header>

                    <figure>
                        <img class="imagem-publicacao" src="../images/IMG_0481.JPG" alt="">

                        <figcaption class="descricao-publicacao">
                            life_style_bodybuilding_edu
                            <p>Apresentação do 1S de DEV SEDUC Moura.</p>
                        </figcaption>

                        <div class="interacoes-publicacao">
                            <button>
                                <img src="../images/icone-coracao-preto.svg" alt="">
                            </button>

                            <button>
                                <img src="../images/icone-comentario-preto.svg" alt="">
                            </button>

                            <span>100 curtidas</span>
                        </div>
                    </figure>

                    <button type="button">Ver mais comentários..</button>

                </article>
                <!-- Fim card publicação-->
            </section>

        </div>
    </main>
    <!-- Fim main -->