@model DevConnectMoura.Models.TbUsuario
<link rel="stylesheet" href="~/css/cadastro.css">

<script defer>
    let usuarioNovoCadastrado = "@ViewBag.UsuarioNovoCadastrado";

    if (usuarioNovoCadastrado == "Nao Cadastrado") {
        alert("Não foi possível cadastrar esse usuário 😔! Fale com um dos nossos administradores.");
    }
</script>

<h1>Tela cadastro - DevConnect</h1>
<main>
    <div>
        <!-- formulario -->
        <form class="estilo-formulario" asp-action="Index" asp-controller="Usuario">
            <img src="~/images/logo-devconnect-lg.svg" alt="Logo DevConnect">

            <p>cadastre-se para comunidade exclusiva de desenvolvedores(as)</p>

            <div class="formulario-campos">
                <label for="">Nome e Sobrenome:</label>
                <input type="text" asp-for="NomeCompleto" id="">
            </div>

            <div class="formulario-campos">
                <label for="">Nome do usuário:</label>
                <input type="text" asp-for="NomeUsuario" id="">
            </div>

            <div class="formulario-campos">
                <label for="">E-mail:</label>
                <input type="email" asp-for="Email" id="">
            </div>

            <div class="formulario-campos">
                <label for="">Senha:</label>
                <input type="password" asp-for="Senha" id="">
            </div>
            <div id="upload">
                <label for="campo-upload"> Faça upload da sua Imagem aqui... </label>
                <input type="file" name="Imagem" id="campo-upload" accept="image/*">

            </div>

            <button type="submit" class="formulario-botao-azul">Cadastre-se</button>

            <p>Ao se cadastrar, voce concorda com nossos, Termos, Politica de dados e politica de cookie</p>

        </form>

        <section id="secao-cadastro" class="estilo-formulario">
            <p>Tem uma conta? <a href="#">Connecte-se</a></p>
        </section>


</main>